main {
    height: 500px;
    border: 2px solid green;
}

.flex-container{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px dashed purple;
    width: 500px;
}
.flex-container > div {
    margin: 20px;
    background-color: rgb(254, 192, 203);
    font-size: 30px;
    color: blue;
    padding: 30px;
    border: 1px solid red;
}